* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(68, 68, 68);
}

.background {
    height: 100vh;
    width: 100%;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    justify-content: start;
    align-items: center;
}

.tabs {
    margin-left: 10px;
}

nav {
    width: 35%;
    height: 45px;
    background-color: grey;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    -webkit-box-shadow: 10px 8px 24px 2px #000000;
    box-shadow: 10px 8px 24px 2px #000000;
}

a:hover {
    color: rgb(0, 0, 0);
}

a {
    font-size: 20px;
    margin: 5px;
    margin-left: 50px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.block {
    width: 60%;
    height: 105px;
    border-radius: 20px;
    background-color: rgb(126, 126, 126);
    margin-top: 220px;
    -webkit-box-shadow: 10px 8px 24px 2px #000000;
    box-shadow: 10px 8px 24px 2px #000000;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: 10px;
    text-align: center;
    color: white;
}

h2 {
    margin-top: 8px;
    margin-left: 15%;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.picblockjavagreenfoot {
    margin-top: 100px;
    height: 70%;
    width: 80%;
    background-color: black;
    display: flex;
}

.picsjava {
    width: 50%;
    height: 60%;
    margin-top: 8%;
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    justify-content: start;
    align-items: center;
}

.picsjava2 {
    width: 50%;
    height: 60%;
    margin-top: 8%;
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    justify-content: start;
    align-items: center;
}