* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(68, 68, 68);
}

.background {
    height: 325vh;
    width: 100%;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    justify-content: start;
    align-items: center;
}

.content {
    height: auto;
    width: 100%;
}

.tabs {
    margin-left: 10px;
}

nav {
    width: 35%;
    height: 45px;
    background-color: grey;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    -webkit-box-shadow: 10px 8px 24px 2px #000000;
    box-shadow: 10px 8px 24px 2px #000000;
}

a:hover {
    color: rgb(0, 0, 0);
}

a {
    font-size: 20px;
    margin: 5px;
    margin-left: 50px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.block {
    width: 60%;
    height: 105px;
    border-radius: 20px;
    background-color: rgb(126, 126, 126);
    margin-top: 220px;
    -webkit-box-shadow: 10px 8px 24px 2px #000000;
    box-shadow: 10px 8px 24px 2px #000000;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: 10px;
    text-align: center;
    color: white;
}

h2 {
    margin-top: 8px;
    margin-left: 15%;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h3 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h4 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 16px;
}

.block1 {
    width: 70%;
    height: 260px;
    border-radius: 20px;
    background-color: rgb(126, 126, 126);
    margin-top: 30px;
    -webkit-box-shadow: 10px 8px 24px 2px #000000;
    box-shadow: 10px 8px 24px 2px #000000;
}

.block2 {
    width: 70%;
    height: 350px;
    border-radius: 20px;
    background-color: rgb(126, 126, 126);
    margin-top: 100px;
    -webkit-box-shadow: 10px 8px 24px 2px #000000;
    box-shadow: 10px 8px 24px 2px #000000;
}

.block3 {
    width: 70%;
    height: 280px;
    border-radius: 20px;
    background-color: rgb(126, 126, 126);
    margin-top: 130px;
    -webkit-box-shadow: 10px 8px 24px 2px #000000;
    box-shadow: 10px 8px 24px 2px #000000;
}

.firstweb {
    margin-right: 50px;
    margin-top: 20px;
}

.bestweb {
    margin-right: 50px;
    margin-top: 20px;
}

.abtme {
    height: 30px;
    width: 100%;
}

.textblock {
    height: 80%;
    width: 96%;
    margin-left: 24px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.text {
    width: 80%;
    height: 100%;
}

.pic {
    width: 20%;
    height: 97%;
    display: flex;
}

.socials {
    height: 30px;
    width: 90%;
    margin-top: 13px;
    display: flex;
    flex-direction: row;
}

.whitespace {
    height: 100%;
    width: 85%;
}

.icons {
    display: flex;
    height: 100%;
    width: 15%;
    flex-direction: row;
}

.ig {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.pictureblock1 {
    width: 100%;
    height: 135px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.first {
    width: 32%;
    height: 135px;
}

.best {
    width: 32%;
    height: 135px;
}

.images {
    width: 100%;
    -webkit-box-shadow: 10px 8px 24px 2px #000000;
    box-shadow: 10px 8px 24px 2px #000000;
}

.images2 {
    width: 100%;
    -webkit-box-shadow: 10px 8px 24px 2px #000000;
    box-shadow: 10px 8px 24px 2px #000000;
}

.textblockweb {
    height: 60px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: red;
}

.textblock1 {
    height: 60px;
    width: 30%;
    background-color: blue;
}

.textblock2 {
    height: 60px;
    width: 30%;
    background-color: antiquewhite;
}

b {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 32%;
    font-size: 45px;
    display: flex;
    margin-top: 30px;
    color: white;
}

.pictureblock2 {
    width: 100%;
    height: 135px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 40px;
}