* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(68, 68, 68);
}

.background {
    height: 325vh;
    width: 100%;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    justify-content: start;
    align-items: center;
}

.tabs {
    margin-left: 10px;
}

nav {
    width: 35%;
    height: 45px;
    background-color: grey;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    -webkit-box-shadow: 10px 8px 24px 2px #000000;
    box-shadow: 10px 8px 24px 2px #000000;
}

a:hover {
    color: rgb(0, 0, 0);
}

a {
    font-size: 20px;
    margin: 5px;
    margin-left: 50px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: 10px;
    text-align: center;
    color: white;
}

h3 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.block2 {
    width: 70%;
    height: 350px;
    border-radius: 20px;
    background-color: rgb(126, 126, 126);
    margin-top: 100px;
    -webkit-box-shadow: 10px 8px 24px 2px #000000;
    box-shadow: 10px 8px 24px 2px #000000;
}

.first {
    width: 32%;
}

.best {
    width: 32%;
}

.images {
    width: 100%;
    -webkit-box-shadow: 10px 8px 24px 2px #000000;
    box-shadow: 10px 8px 24px 2px #000000;
}

.images2 {
    width: 100%;
    -webkit-box-shadow: 10px 8px 24px 2px #000000;
    box-shadow: 10px 8px 24px 2px #000000;
}

.textblockweb {
    height: 60px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.textblock1 {
    height: 60px;
    width: 30%;
}

.textblock2 {
    height: 60px;
    width: 30%;
}

.pictureblock {
    width: 100%;
    height: 135px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 20px;
}

.linkbox {
    width: 100%;
    height: 20px;
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
}

.firstweb {
    height: 100%;
    width: 22%;
}

.bestweb {
    height: 100%;
    width: 22%;
}

.webtext {
    font-size: 14px;
    text-decoration: underline;
}

.linkbox2 {
    width: 100%;
    height: 25px;
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
}

.links {
    height: 100%;
    width: 22%;
}